@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid black;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 600px;
  padding: 16px 120px;
}

.hero-content-left,
.hero-content-right {
  flex-basis: 50%; /* Membagi lebar secara proporsional */
  max-width: 50%; /* Memastikan konten tidak melebihi lebar 50% */
}

.hero-content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;
}

.hero-teks {
  font-size: 32px;
  font-weight: bold;
}

.hero-item {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 20px;
  gap: 16px;
  padding-left: 16px;
}

.hero-item a {
  color: black;
  text-decoration: none;
}
.hero-item :hover {
  color: #00ffff;
}

.hero-content-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 100%;
  max-width: 75%; /* Memastikan gambar tidak melampaui kontainer */
  height: auto;
}
.content-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 600px;
  padding: 32px 120px;
}

.content-section h1 {
  font-size: 32px;
}
